<header class="newHeader" data-media="pc">
  <div class="header__top">
    <a href="/" class="header__logo">
      <img src="<mt:var name='theme_path' />/static/assets/logo.svg" alt="こくみん共済 coop ロゴ">
    </a>

    <nav class="header__nav" data-media="pc">
      <a href="#" class="header__navButton">
        <span class="header__navButtonText">マイページ</span>
        <img class="header__navButtonIcon" src="<mt:var name='theme_path' />/static/assets/ico_header_button_arrow.svg" alt="header-arrow">
      </a>
      <a href="#" class="header__navButton">
        <span class="header__navButtonText">よくある質問</span>
        <img class="header__navButtonIcon" src="<mt:var name='theme_path' />/static/assets/ico_header_button_arrow.svg" alt="header-arrow">
      </a>
      <a href="#" class="header__navButton">
        <span class="header__navButtonText">お問い合わせ</span>
        <img class="header__navButtonIcon" src="<mt:var name='theme_path' />/static/assets/ico_header_button_arrow.svg" alt="header-arrow">
      </a>
    </nav>

    <div class="header__search" data-media="pc">
      <input id="header_search" type="text" class="header__searchInput" placeholder="サイト内検索">
      <button class="header__searchButton">
        <img src="<mt:var name='theme_path' />/static/assets/ico_header_search.svg" />
      </button>
    </div>
  </div>
</header>