<div class="newSite globalNavigation">
  <ul class="globalNavigation__menu">
      <li class="globalNavigation__menuItem">
        <a class="globalNavigation__menuLink" href="#">
          <span>組合員の皆さま</span>
        </a>
      </li>
      <span class="globalNavigation__menuSeparator"></span>
      <li class="globalNavigation__menuItem">
        <a class="globalNavigation__menuLink" href="#">
          <span>保障検討の皆さま</span>
        </a>
      </li>
      <span class="globalNavigation__menuSeparator"></span>
      <li class="globalNavigation__menuItem">
        <a class="globalNavigation__menuLink" href="#">
          <span>団体経由の皆さま</span>
        </a>
      </li>
      <span class="globalNavigation__menuSeparator"></span>
      <li class="globalNavigation__menuItem">
        <a class="globalNavigation__menuLink" href="#">
          <span>共済商品一覧</span>
        </a>
      </li>
      <span class="globalNavigation__menuSeparator"></span>
      <li class="globalNavigation__menuItem">
        <a class="globalNavigation__menuLink" href="#">
          <span>こくみん共済 coopについて</span>
        </a>
      </li>
      <span class="globalNavigation__menuSeparator"></span>
      <li class="globalNavigation__menuItem">
        <a class="globalNavigation__menuLink" href="#">
          <span>全国の窓口</span>
        </a>
      </li>
      
  </ul>
</div>