@charset "UTF-8";
.csrMission {
  padding: 5rem 2.5rem;
}

.csrMission__inner {
  max-width: 62rem;
  margin: 0 auto;
  display: flex;
  gap: 3.75rem;
  align-items: flex-start;
}

.csrMission__content {
  flex: 1;
}

.csrMission__label {
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  color: #999;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border: 0.0625rem solid #E5E7EB;
  padding: 0.125rem;
  width: fit-content;
}
.csrMission__label:before {
  content: "";
  width: 3.125rem;
  height: 0.0625rem;
  background-color: #E5E7EB;
}

.csrMission__title {
  font-size: 2.625rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.875rem;
  line-height: 1.4;
}

.csrMission__description {
  font-size: 0.9375rem;
  color: #1e1e1e;
  line-height: 1.8;
  margin-bottom: 1.875rem;
}

.csrMission__button {
  background-color: #fff;
  border: 0.0625rem solid #333;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #1e1e1e;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  transition: all 0.2s;
  text-decoration: none;
  border-radius: 0.3125rem;
  width: 19.875rem;
  max-width: 100%;
}

.csrMission__button::after {
  content: "▶";
  font-size: 0.75rem;
  margin-left: auto;
}

.csrMission__button:hover {
  background-color: #333;
  color: #fff;
}

.csrMission__image {
  width: 27.3125rem;
  flex-shrink: 0;
}