<nav class="floatingMenu">
  <ul class="floatingMenu__list">

    <li class="floatingMenu__item">
      <a href="#" class="floatingMenu__link">
        <div class="floatingMenu__iconCircle"></div>
        <span class="floatingMenu__text">共済金請求</span>
      </a>
    </li>

    <li class="floatingMenu__item">
      <a href="#" class="floatingMenu__link">
        <div class="floatingMenu__iconCircle"></div>
        <span class="floatingMenu__text">お見積もり/加入手続き</span>
      </a>
    </li>

    <li class="floatingMenu__item">
      <a href="#" class="floatingMenu__link">
        <div class="floatingMenu__iconCircle"></div>
        <span class="floatingMenu__text">資料請求</span>
      </a>
    </li>

    <li class="floatingMenu__item">
      <a href="#" class="floatingMenu__link">
        <div class="floatingMenu__iconCircle"></div>
        <span class="floatingMenu__text">ご相談窓口</span>
      </a>
    </li>

  </ul>
</nav>