
<div class="checkList">
  <mt:loop name="containers" hash item="container">
    <mt:loop name="container.blocks" hash item="block">
      <mt:if name="block.type" eq="CheckText">
        <mt:include basename="check_text" text="$block.text" />
      </mt:if>
    </mt:loop>
  </mt:loop>
</div>
