@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
.newSite .row {
  display: flex;
  flex-wrap: wrap;
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}
.newSite .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}
.newSite .col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.newSite .col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.newSite .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.newSite .col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.newSite .col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.newSite .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.newSite .col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.newSite .col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.newSite .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.newSite .col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.newSite .col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.newSite .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .newSite .col-sp-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .newSite .col-sp-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .newSite .col-sp-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .newSite .col-sp-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .newSite .col-sp-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .newSite .col-sp-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .newSite .col-sp-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .newSite .col-sp-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .newSite .col-sp-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .newSite .col-sp-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .newSite .col-sp-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .newSite .col-sp-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

html {
  margin: 0;
  padding: 0;
}

.newSite {
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  .newSite [data-media]:not([data-media~=sp]),
  .newSite .pc-only {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .newSite [data-media]:not([data-media~=pc]),
  .newSite .sp-only {
    display: none !important;
  }
}
.newSite body {
  -webkit-text-size-adjust: 100%;
  color: #151515;
  font-weight: 400;
  margin: 0;
}
.newSite img {
  max-width: 100%;
  height: auto;
}
.newSite * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.newSite a {
  text-decoration: none;
  color: unset;
}
.newSite li {
  list-style-type: none;
}
.newSite iframe {
  border: none;
  overflow: hidden;
}
.newSite button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
.newSite input,
.newSite textarea {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
}
.newSite hr {
  border: none;
  border-top: 1px solid;
}
.newSite .base-container {
  max-width: 67.5rem;
  width: 100%;
  padding: 0 2.5rem;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .newSite .base-container {
    padding: 0 1rem;
  }
}
.newSite .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.newSite .gap-0,
.newSite .gap-x-0 {
  --gutter-x: 0;
}
.newSite .gap-0,
.newSite .gap-y-0 {
  --gutter-y: 0;
}
.newSite .gap-1,
.newSite .gap-x-1 {
  --gutter-x: 4px;
}
.newSite .gap-1,
.newSite .gap-y-1 {
  --gutter-y: 4px;
}
.newSite .gap-2,
.newSite .gap-x-2 {
  --gutter-x: 8px;
}
.newSite .gap-2,
.newSite .gap-y-2 {
  --gutter-y: 8px;
}
.newSite .gap-3,
.newSite .gap-x-3 {
  --gutter-x: 12px;
}
.newSite .gap-3,
.newSite .gap-y-3 {
  --gutter-y: 12px;
}
.newSite .gap-4,
.newSite .gap-x-4 {
  --gutter-x: 16px;
}
.newSite .gap-4,
.newSite .gap-y-4 {
  --gutter-y: 16px;
}
.newSite .gap-5,
.newSite .gap-x-5 {
  --gutter-x: 20px;
}
.newSite .gap-5,
.newSite .gap-y-5 {
  --gutter-y: 20px;
}
.newSite .gap-6,
.newSite .gap-x-6 {
  --gutter-x: 24px;
}
.newSite .gap-6,
.newSite .gap-y-6 {
  --gutter-y: 24px;
}
.newSite .gap-7,
.newSite .gap-x-7 {
  --gutter-x: 28px;
}
.newSite .gap-7,
.newSite .gap-y-7 {
  --gutter-y: 28px;
}
.newSite .gap-8,
.newSite .gap-x-8 {
  --gutter-x: 32px;
}
.newSite .gap-8,
.newSite .gap-y-8 {
  --gutter-y: 32px;
}

.breadcrumb {
  background-color: #fff;
  padding: 1.5rem 2.5rem;
  max-width: 87.5rem;
}
@media screen and (max-width: 767px) {
  .breadcrumb {
    padding: 1rem 1rem;
  }
}

.breadcrumb__list {
  display: flex;
  align-items: center;
  gap: 0.5rem 1rem;
  list-style: none;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
}
.breadcrumb__item.is-active .breadcrumb__link {
  color: #008735;
}

.breadcrumb__link {
  color: #585858;
  transition: color 0.2s;
}

a.breadcrumb__link:hover {
  color: #008735;
}

.breadcrumb__current {
  color: #585858;
}

.newSite .btn__arrow {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: inherit;
  margin-left: auto;
}
.newSite .btn-icon {
  width: 3rem;
}
.newSite .btn__content {
  flex: 1 1 auto;
}
.newSite .btn__text {
  font-weight: 700;
}
.newSite .btn__caption {
  font-size: 14px;
  line-height: 1.6;
  color: #1E1E1E;
  display: block;
  margin-top: 0.5rem;
}
.newSite .btn {
  font-size: 1.125rem;
  padding: 1.1875rem 1rem 1.1875rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.2;
  background-color: #008735;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
  max-width: 100%;
  width: fit-content;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .newSite .btn {
    padding: 1rem 0.5rem 1rem 0.875rem;
    font-size: 1rem;
  }
}
.newSite .btn:hover {
  background-color: #009944;
}
.newSite .btn--small {
  font-size: 0.9375rem;
  padding: 0.6875rem 1rem;
  min-width: 9.375rem;
}
.newSite .btn--small .btn__arrow {
  width: 1.5rem;
  height: 1.5rem;
}
.newSite .btn--outline {
  border: 0.0625rem solid #008735;
  color: #007426;
  background-color: transparent;
}
.newSite .btn--outline:hover {
  background-color: #F2F5E9;
}
.newSite .btn--outline-icon {
  border: 0.0625rem solid #008735;
  background-color: #F2F5E9;
  color: #007426;
  text-align: left;
  gap: 0.625rem;
  padding: 1.25rem 1rem;
}
.newSite .btn--outline-icon:hover {
  background-color: #fff;
}
.newSite .btn--full {
  width: 100%;
}

.newSite .h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 2rem 0 3rem;
  color: #1e1e1e;
  position: relative;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  .newSite .h1 {
    font-size: 1.375rem;
    padding: 1.25rem 0 2rem;
  }
}
.newSite .h1__content {
  display: block;
  width: 100%;
}
.newSite .h1__content:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.125rem;
  margin-top: 1.5rem;
  background-image: linear-gradient(90deg, #82bc00 0 50%, #008735 50% 100%);
}

.newSite .h2 {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.4;
  letter-spacing: 0.0625rem;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .h2 {
    font-size: 1.125rem;
    padding-bottom: 1.5rem;
  }
}
.newSite .h2__content {
  display: block;
}
.newSite .h2__content:after {
  content: "";
  margin-top: 1rem;
  display: block;
  width: 100%;
  height: 0.1875rem;
  border-radius: 0.125rem;
  background-color: #008735;
}

.newSite .h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
  display: flex;
  color: #007426;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .h3 {
    margin-bottom: 1rem;
    font-size: 1.0625rem;
  }
}
.newSite .h3:before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: currentColor;
  margin: 0.75rem 0.5rem 0 0;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .newSite .h3:before {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.5625rem 0.375rem 0 0;
  }
}

.newSite .h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  color: #007426;
}
@media screen and (max-width: 767px) {
  .newSite .h4 {
    font-size: 1rem;
  }
}

.newSite .h5 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .newSite .h5 {
    font-size: 1rem;
  }
}

.newSite .leadText {
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.375rem;
  letter-spacing: 0.0625rem;
}
@media screen and (max-width: 767px) {
  .newSite .leadText {
    font-size: 1rem;
    letter-spacing: 0rem;
  }
}

.newSite .link__icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.newSite .link {
  width: fit-content;
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #007426;
}
.newSite .link--large {
  font-size: 20px;
  font-weight: 700;
  gap: 0.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .link--large {
    font-size: 16px;
  }
}
.newSite .link--large .link__icon {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 767px) {
  .newSite .link--large .link__icon {
    width: 24px;
    height: 24px;
  }
}
.newSite .link--anchor {
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0;
  gap: 0.8125rem;
  padding: 0.625rem 1rem;
  background-color: #eef6f1;
}
.newSite .link--anchor .link__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.newSite .link--full {
  width: 100%;
}

.newSite .checkText {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.4;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .newSite .checkText {
    gap: 0.25rem;
    font-size: 0.9375rem;
  }
}
.newSite .checkText__icon {
  width: 1.375rem;
  height: 1.375rem;
}
@media screen and (max-width: 767px) {
  .newSite .checkText__icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.checkList {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.newSite .contactAccordion__inquiriesHeadingButton {
  width: 27.75rem;
}
.newSite .contactAccordion__actionButton {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__actionButton {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.newSite .contactAccordion__actionButton:before, .newSite .contactAccordion__actionButton:after {
  content: "";
  border-radius: 0.125rem;
  background-color: #007426;
  width: 0.125rem;
  height: 1.375rem;
  transform-origin: center;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__actionButton:before, .newSite .contactAccordion__actionButton:after {
    height: 1rem;
  }
}
.newSite .contactAccordion__actionButton:before {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) rotate(90deg);
}
.newSite .contactAccordion__actionButton:after {
  transition: transform 0.2s;
}
.newSite .contactAccordion {
  border: 0.0625rem solid #008735;
  border-radius: 0.375rem;
  overflow: hidden;
}
.newSite .contactAccordion:not(:first-child) {
  margin-top: 2.5rem;
}
.newSite .contactAccordion.is-expanded .contactAccordion__actionButton:after {
  transform: rotate(90deg);
}
.newSite .contactAccordion__heading {
  padding: 1.5rem 1.25rem;
  background-color: #f2f5e9;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__heading {
    padding: 0.875rem 1rem;
    align-items: start;
  }
}
.newSite .contactAccordion__headingIcon {
  flex-shrink: 0;
  width: 2.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__headingIcon {
    width: 2rem;
  }
}
.newSite .contactAccordion__headingText {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 1rem 0 0.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__headingText {
    font-size: 1.0625rem;
    margin: 0 0.375rem;
  }
}
.newSite .contactAccordion__content {
  padding: 2rem 2.5rem;
  color: #151515;
  background-color: #fff;
  border-top: 0.0625rem solid #008735;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__content {
    padding: 1.25rem 1rem;
  }
}
.newSite .contactAccordion__contentHeading {
  margin-bottom: 0.5rem;
}
.newSite .contactAccordion__workingTime {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__workingTime {
    font-size: 0.9375rem;
  }
}
.newSite .contactAccordion__contact {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1.5rem 0.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__contact {
    align-items: center;
  }
}
.newSite .contactAccordion__contactIcon {
  width: 4rem;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__contactIcon {
    width: 2.75rem;
  }
}
.newSite .contactAccordion__contactNumber {
  font-size: 2.75rem;
  text-decoration: none;
  color: #151515;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__contactNumber {
    font-size: 2.125rem;
  }
}
.newSite .contactAccordion__contactMore {
  color: #007426;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .newSite .contactAccordion__contactMore {
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__contactMore {
    font-size: 0.9375rem;
  }
}
.newSite .contactAccordion__contactMore img {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__contactMore img {
    width: 1.125rem;
    height: 1.125rem;
  }
}
.newSite .contactAccordion__noteList {
  margin-top: 1rem;
  list-style: none;
}
.newSite .contactAccordion__note:not(:first-child) {
  margin-top: 0.5rem;
}
.newSite .contactAccordion__ctaElements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.25rem 2rem;
  margin-top: 1.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__ctaElements {
    grid-template-columns: 1fr;
  }
  .newSite .contactAccordion__ctaElements--with-qr {
    grid-template-columns: 1fr 4.5rem;
    gap: 1.25rem 1.5rem;
  }
}
.newSite .contactAccordion__qrImage {
  width: 4.5rem;
}
.newSite .contactAccordion__ctaButton {
  width: 100%;
}
.newSite .contactAccordion__section:not(:first-child) {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 0.0625rem solid #d9d9d9;
}
@media screen and (max-width: 767px) {
  .newSite .contactAccordion__section:not(:first-child) {
    margin-top: 2rem;
    padding-top: 2rem;
  }
}

.newSite .collapse__content {
  overflow: hidden;
  max-height: 0;
}
.newSite .collapse__container.is-expanded .collapse__content {
  max-height: unset;
  transition: max-height 0.3s;
}

.newSite .ctaBanner {
  background-color: #f2f5e9;
  border-radius: 0.375rem;
  padding: 2rem 2.5rem;
  font-size: 1rem;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .newSite .ctaBanner {
    padding: 1.25rem 1rem;
    font-size: 0.9375rem;
  }
}
.newSite .ctaBanner--mt {
  margin-top: 2.5rem;
}
.newSite .ctaBanner__container {
  display: flex;
  gap: 1rem 1.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .ctaBanner__container {
    flex-direction: column;
  }
}
.newSite .ctaBanner__main {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
@media screen and (max-width: 767px) {
  .newSite .ctaBanner__main {
    gap: 0.5rem;
  }
}
.newSite .ctaBanner__icon {
  flex-shrink: 0;
  width: 4rem;
}
@media screen and (max-width: 767px) {
  .newSite .ctaBanner__icon {
    width: 2.75rem;
  }
}
.newSite .ctaBanner__ctaButton {
  flex-shrink: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .newSite .ctaBanner__ctaButton {
    max-width: 18.5rem;
    margin-left: 1.5rem;
  }
}

.announcementH2Title {
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 1px;
}
.announcementH2Title__date {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  color: #585858;
  margin-bottom: 0.5625rem;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

.newSite .table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}
.newSite .table {
  border-spacing: 0;
  text-align: left;
  border-collapse: collapse;
  line-height: 1.4;
  width: 100%;
}
.newSite .table td,
.newSite .table th {
  display: table-cell;
  border: 1px solid #a0a0a0;
}
.newSite .table tr {
  border-bottom: 1px solid #a0a0a0;
}
.newSite .table thead th {
  padding: 0.5rem 1rem;
  background-color: #d6e4b3;
  font-weight: 700;
}
.newSite .table tbody th {
  background-color: #e6efd1;
  font-weight: 700;
}
.newSite .table tbody th,
.newSite .table tbody td {
  font-size: 16px;
  line-height: 1.4;
  padding: 1rem;
}

.newSite .annotation {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: #585858;
  display: flex;
  gap: 0.5rem;
}

.bullet-text {
  position: relative;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  padding-left: 1.25rem;
}
.bullet-text::before {
  content: "";
  display: block;
  position: absolute;
  left: 0.25rem;
  top: 0.5em;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #008735;
  border-radius: 50%;
}

.newSite .serviceCard {
  display: flex;
  gap: 1.25rem 2rem;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .newSite .serviceCard {
    flex-direction: column;
  }
}
.newSite .serviceCard__image {
  width: 19.5rem;
  aspect-ratio: 312/195;
  flex-shrink: 0;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
}
@media screen and (max-width: 767px) {
  .newSite .serviceCard__image {
    width: 100%;
  }
}
.newSite .serviceCard__content {
  flex-grow: 1;
  max-width: 100%;
}
.newSite .serviceCard__desc {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .newSite .serviceCard__desc {
    margin-top: 1rem;
    font-size: 0.9375rem;
  }
}
.newSite .serviceCard__button {
  margin-top: 1.5rem;
  text-align: center;
  width: 27.75rem;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .newSite .serviceCard__button {
    margin-top: 1rem;
  }
}

.newSite .linkWithinContentIconTextBtn {
  display: flex;
  align-items: center;
  background-color: #f2f5e9;
  display: flex;
  padding: 32px 40px;
  gap: 1rem 1.5rem;
  border-radius: 0.375rem;
}
@media screen and (max-width: 767px) {
  .newSite .linkWithinContentIconTextBtn {
    flex-direction: column;
  }
}
.newSite .linkWithinContentIconTextBtn__image {
  flex-shrink: 0;
  width: 4rem;
}
@media screen and (max-width: 767px) {
  .newSite .linkWithinContentIconTextBtn__image {
    width: 2.75rem;
  }
}
.newSite .linkWithinContentIconTextBtn__main {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 767px) {
  .newSite .linkWithinContentIconTextBtn__main {
    gap: 0.5rem;
  }
}
.newSite .linkWithinContentIconTextBtn__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.newSite .linkWithinContentIconTextBtn__title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}
.newSite .linkWithinContentIconTextBtn__caption {
  font-size: 16px;
  line-height: 1.6;
}
.newSite .linkWithinContentIconTextBtn__button {
  align-self: center;
  flex-shrink: 0;
  width: 18.5rem;
  text-align: center;
  margin-left: auto;
}

.remark {
  font-size: 0.75rem;
  font-weight: 400;
  color: #585858;
  display: flex;
  gap: 0.5rem;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  html.newSite {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html.newSite {
    font-size: 16px;
  }
}