<div class="contactAccordion collapse__container js-contact-accordion is-expanded">
  <div class="contactAccordion__heading" data-js="collapse_trigger">
    <mt:assets type="image" limit="1" id="$heading_icon">
      <img class="contactAccordion__headingIcon" src="<mt:asseturl>" alt="<mt:assetlabel>">
    </mt:assets>
    <span class="contactAccordion__headingText">
      <mt:var name='heading_text' raw>
    </span>
    <span class="contactAccordion__actionButton">
    </span>
  </div>
  <div class="collapse__content">
    <div class="contactAccordion__content collapse__inner">
      <mt:loop name="containers" hash item="container">
        <mt:loop name="container.blocks" hash item="block">
          <mt:if name="block.type" eq="ContactAccordionSection">
            <mt:include basename="contact_accordion_section"
              h3="$block.h3"
              h5="$block.h5"
              phone_number="$block.phone_number"
              contact_more_url="$block.contact_more_url"
              working_time="$block.working_time"
              notes="$block.notes"
              containers="$block.containers"
              qr_image="$block.qr_image"
            >
          </mt:if>
        </mt:loop>
      </mt:loop>
    </div>
  </div>
</div>