<mt:loop name="components_blocks">
  <mt:var name="components_blocks" key="$__index__" setvar="__block__" scope="local" />
  <mt:if name="type" eq="GlobalHeader">
    <mt:include basename="global_header">
  </mt:if>
  <mt:if name="type" eq="GlobalNavigation">
    <mt:include basename="global_navigation">
  </mt:if>
  <mt:if name="type" eq="GlobalSideMenu">
    <mt:include basename="global_side_menu">
  </mt:if>
  <mt:if name="type" eq="GlobalFooter">
    <mt:include basename="global_footer">
  </mt:if>
  <mt:if name="type" eq="Breadcrumb">
    <mt:include basename="breadcrumb" data="$__block__.fields">
  </mt:if>
  <mt:if name="type" eq="OpenDiv">
    <mt:include basename="open_div" class="$__block__.class">
  </mt:if>
  <mt:if name="type" eq="CloseDiv">
    <mt:include basename="close_div">
  </mt:if>
  <mt:if name="type" eq="H1">
    <mt:include basename="h1" content="$__block__.content" class="$__block__.class">
  </mt:if>
  <mt:if name="type" eq="H2">
    <mt:include basename="h2" content="$__block__.content">
  </mt:if>
  <mt:if name="type" eq="H3">
    <mt:include basename="h3" content="$__block__.content">
  </mt:if>
  <mt:if name="type" eq="AnnouncementH2Title">
    <mt:include basename="announcement_h2_title" content="$__block__.content" class="$__block__.class" date="$__block__.date">
  </mt:if>
  <mt:if name="type" eq="CheckList">
    <mt:include basename="check_list">
  </mt:if>
  <mt:if name="type" eq="Image">
    <mt:include basename="image" asset_id="$__block__.asset_id">
  </mt:if>
  <mt:if name="type" eq="Space">
    <mt:include basename="space" height="$__block__.height">
  </mt:if>
  <mt:if name="type" eq="Paragraph">
    <mt:include basename="paragraph" content="$__block__.content" class="$__block__.class">
  </mt:if>
  <mt:if name="type" eq="Table">
    <mt:include basename="table" data="$__block__.table" class="$__block__.class">
  </mt:if>
  <mt:if name="type" eq="TextLink">
    <mt:include basename="text_link" data="$__block__.data" class="$__block__.class">
  </mt:if>
  <mt:if name="type" eq="Annotation">
    <mt:include basename="annotation" content="$__block__.content" class="$__block__.class">
  </mt:if>
  <mt:if name="type" eq="BtnOutlineIconOrCaption">
    <mt:include basename="button" text="$__block__.text" caption="$__block__.caption" icon="$__block__.icon" variant="outline-icon" href="$__block__.href" as="$__block__.as">
  </mt:if>
  <mt:if name="type" eq="BulletText">
    <mt:include basename="bullet_text" content="$__block__.content">
  </mt:if>
  <mt:if name="type" eq="Row">
    <mt:include basename="row">
  </mt:if>
  <mt:if name="type" eq="LeadText">
    <mt:include basename="lead_text" content="$__block__.content">
  </mt:if>
  <mt:if name="type" eq="AnchorLink">
    <mt:include basename="link" text="$__block__.text" href="$__block__.href" class="$__block__.class" type="anchor">
  </mt:if>
  <mt:if name="type" eq="ButtonDefault">
    <mt:include basename="button" text="$__block__.text" href="$__block__.href" class="$__block__.class">
  </mt:if>
  <mt:if name="type" eq="ServiceCard">
    <mt:include basename="service_card" image="$__block__.image" title="$__block__.title" description="$__block__.description" href="$__block__.href">
  </mt:if>
  <mt:unsetvar name="__block__" />
</mt:loop>