<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><mt:announcementtitle></title>
  <link rel="stylesheet" href="<mt:var name="theme_static">/css/common/common.css" />
  <link rel="stylesheet" href="<mt:var name="theme_static">/css/global/components/header/header.css" />
  <link rel="stylesheet" href="<mt:var name="theme_static">/css/global/components/globalNavigation/globalNavigation.css" />
  <link rel="stylesheet" href="<mt:var name="theme_static">/css/global/components/footer/footer.css" />
  <link rel="stylesheet" href="<mt:var name="theme_static">/css/global/components/sideMenu/sideMenu.css" />
  <body>
<div class="newSite">
  <h2>Global</h2>
  <mt:include basename='global_components_header'>
  <mt:include basename='global_components_globalnavigation'>
  <mt:include basename='global_components_footer'>
  <mt:include basename='global_components_sidemenu'>

  <h2>Common</h2>
  <mt:include basename='common_components_table'>
</div>
<link rel="stylesheet" href="<mt:var name="theme_static">/assets/common.ts" />
</body>
</html>