<section class="articleList">
  <div class="base-container">
    <div class="articleList__header">
      <div class="articleList__icon">icon</div>
      <h2 class="articleList__title">社会活動一覧</h2>
    </div>

    <div class="articleList__filters">
      <a href="#" class="articleList__filterButton articleList__filterButton--active">すべて表示</a>
      <a href="#" class="articleList__filterButton">地域資献</a>
      <a href="#" class="articleList__filterButton">防災・減災</a>
      <a href="#" class="articleList__filterButton">SDGs</a>
      <a href="#" class="articleList__filterButton">環境保全</a>
      <a href="#" class="articleList__filterButton">子どもを支援</a>
    </div>

    <div class="articleList__container">
      <div class="articleGrid">
        <mt:include basename='articlecard' title='7才の交通安全プロジェクト' description='小学校における行動訓練が広がる子どもたちの交通安全がすられため、デジタル交通安全' tag='子どもを支援' date='2025.01.15' thumbnailURL='/static/assets/sample.png' href='#'>
        <mt:include basename='articlecard' title='みんなの防災プロジェクト' description='「もしも」の時に備えるための知識を、クイズ形式や体験イベントを通じて楽しく学べる' tag='防災・減災' date='2025.02.01' thumbnailURL='/static/assets/sample.png' href='#'>
        <mt:include basename='articlecard' title='地域の子どもも農業へ搭供' description='地元の農家と協力し、地域内競技などを活用した農村支援を実施。地域コミュニティの活性' tag='地域資献' date='2025.03.10' thumbnailURL='/static/assets/sample.png' href='#'>
      </div>
    </div>
  </div>
</section>