<mt:if name='as' eq='button'>
<button
  type="button"
  class="btn<mt:if name='size'> btn--<mt:var name='size'></mt:if><mt:if name='variant'> btn--<mt:var name='variant'></mt:if><mt:if name='class'><mt:var name='class'></mt:if><mt:if name='width' eq='full'> btn--full</mt:if>"
  <mt:if name='disabled'> data-disabled="<mt:var name='disabled'>"</mt:if>
  <mt:if name='id'>id="<mt:var name='id'>"</mt:if>
>
  
  
    <mt:if name='icon'>
      <mt:assets type="image" limit="1" id="$icon">
        <img class="btn__icon" src="<mt:asseturl>" alt="<mt:assetlabel>">
      </mt:assets>
    </mt:if>
  
  <div class="btn__content">
    <span class="btn__text"><mt:var name='text' raw></span>
    <mt:if name='caption'>
      <span class="btn__caption"><mt:var name='caption' raw></span>
    </mt:if>
  </div>
  <svg class="btn__arrow">
    <use href="<mt:var name='theme_path'>/static/assets/ico_arrow_line_M.svg"></use>
  </svg>
</button>
<mt:else>
<a
  href="<mt:var name='href'>"
  class="btn<mt:if name='size'> btn--<mt:var name='size'></mt:if><mt:if name='variant'> btn--<mt:var name='variant'></mt:if><mt:if name='class'><mt:var name='class'></mt:if><mt:if name='width' eq='full'> btn--full</mt:if>"
  <mt:if name='disabled'> data-disabled="<mt:var name='disabled'>"</mt:if>
  <mt:if name='id'> id="<mt:var name='id'>"</mt:if>
  <mt:if name='target'> target="<mt:var name='target'>"</mt:if>
>
  
  
    <mt:if name='icon'>
      <mt:assets type="image" limit="1" id="$icon">
        <img class="btn__icon" src="<mt:asseturl>" alt="<mt:assetlabel>">
      </mt:assets>
    </mt:if>
  
  <div class="btn__content">
    <span class="btn__text"><mt:var name='text' raw></span>
    <mt:if name='caption'>
      <span class="btn__caption"><mt:var name='caption' raw></span>
    </mt:if>
  </div>
  <svg class="btn__arrow">
    <use href="<mt:var name='theme_path'>/static/assets/ico_arrow_line_M.svg"></use>
  </svg>
</a>
</mt:if>
