<a href="<mt:var name='href'>" class="textLink<mt:if name='variant'> textLink--<mt:var name='variant'></mt:if><mt:if name='class'> <mt:var name='class'></mt:if><mt:if name='size'> textLink--<mt:var name='size'></mt:if>">
  <span class="textLink__label">
    <mt:var name='label'>
  </span>
  <mt:if name='variant'>
    <mt:include basename='common_components_textlink_ui_icon_<mt:var name="variant">' class='textLink__icon'>
  <mt:else>
    <img class="textLink__icon" src="<mt:var name='theme_path'>/static/assets/ico_arrow_L.svg" alt="ico-arrow" />
  </mt:if>
</a>