<div class="serviceCard">
  <mt:if name="image">
    <mt:assets type="image" limit="1" id="$image">
      <img class="serviceCard__image" src="<mt:asseturl>" alt="<mt:assetlabel>">
    </mt:assets>
  <mt:else>
    <div class="serviceCard__image"></div>
  </mt:if>
  
  <div class="serviceCard__content">
    <mt:include
      basename='link'
      class='serviceCard__title'
      text='$title'
      size='large'
      href='$href'
      variant=''
      width='fit'
    >
    <p class="serviceCard__desc">
      <mt:var name='description' raw>
    </p>
    
    <mt:loop name="containers" hash item="container">
      <mt:loop name="container.blocks" hash item="block">
        <mt:if name="block.type" value="ButtonDefault">
          <mt:setvar name="button_data" value="$block"/>
          <mt:setvarblock name="button_data" key="class">serviceCard__button <mt:var name="block" key="class"/></mt:setvarblock>
          <mt:include
            basename="button"
            text="$button_data.text"
            href="$button_data.href"
            size="$button_data.size"
            icon="$button_data.icon"
            width="$button_data.width"
            variant="$button_data.variant"
            class="$button_data.class"
          />
          <mt:unsetvar name="button_data" />
        </mt:if>
      </mt:loop>
    </mt:loop>
    
  </div>
</div>