
<div class="row<mt:if name='gap'> gap-<mt:var name='gap' /></mt:if><mt:if name='gap_x'> gap-x-<mt:var name='gap_x' /></mt:if><mt:if name='gap_y'> gap-y-<mt:var name='gap_y' /></mt:if>">
  <mt:loop name="containers" hash item="container">
    <mt:loop name="container.blocks" hash item="block">
      <mt:if name="block.type" eq="Col">
        <div class="col col-<mt:var name='block.col_size' default='12'><mt:if name='block.col_size_sp'> col-sp-<mt:var name='block.col_size_sp' /></mt:if>">
          <mt:loop name="block.containers" hash item="container">
            <mt:loop name="container.blocks" hash item="block">
              <mt:if name="block.type" eq="BtnOutlineIconOrCaption">
                <mt:include
                  basename="button"
                  text="$block.text"
                  caption="$block.caption"
                  icon="$block.icon"
                  variant="outline-icon"
                  href="$block.href"
                  as="$block.as"
                  class="$block.class"
                >
              </mt:if>
              <mt:if name="block.type" eq="AnchorLink">
                <mt:include
                  basename="link"
                  text="$block.text"
                  href="$block.href"
                  class="$block.class"
                  variant="anchor"
                  width="$block.width"
                >
              </mt:if>
            </mt:loop>
          </mt:loop>
        </div>
      </mt:if>
    </mt:loop>
  </mt:loop>
</div>
