
<div class="row<mt:if name='gap'> gap-<mt:var name='gap' /></mt:if><mt:if name='gap_x'> gap-x-<mt:var name='gap_x' /></mt:if><mt:if name='gap_y'> gap-y-<mt:var name='gap_y' /></mt:if>">
  <mt:loop name="containers">
    <mt:loop name="blocks">
      <mt:if name="type" eq="Col">
        <mt:var name="blocks" key="$__index__" setvar="__col__" scope="local" />
        <div class="col col-<mt:var name="col_size" default="12">">
          <mt:localvars scope="local">
            <mt:loop name="__col__.containers">
              <mt:loop name="blocks">
                <mt:var name="blocks" key="$__index__" setvar="__block__" scope="local" />
                <mt:if name="type" eq="BtnOutlineIconOrCaption">
                  <mt:include basename="button" text="$__block__.text" caption="$__block__.caption" icon="$__block__.icon" variant="outline-icon"
                  href="$__block__.href" as="$__block__.as" class="$__block__.class || ''">
                </mt:if>
                <mt:if name="type" eq="AnchorLink">
                  <mt:include basename="link" text="$__block__.text" href="$__block__.href" class="$__block__.class" variant="anchor" width="$__block__.width">
                </mt:if>
                <mt:unsetvar name="__block__" />
              </mt:loop>
            </mt:loop>
          </mt:localvars>
        </div>
        <mt:unsetvar name="__col__" />
      </mt:if>
    </mt:loop>
  </mt:loop>
</div>
