<mt:if name='as' eq='li'>
  <li class="checkText">
    <img src="/themes/v1/static/assets/ico_check.svg" alt="check" class="checkText__icon" />
    <span>
      <mt:var name='text' raw>
    </span>
  </li>
<mt:else>
  <div class="checkText">
    <img src="/themes/v1/static/assets/ico_check.svg" alt="check" class="checkText__icon" />
    <span>
      <mt:var name='text' raw>
    </span>
  </div>
</mt:if>