<nav class="breadcrumb">
  <ul class="breadcrumb__list">
    <mt:loop name='data'>
      <li class="breadcrumb__item<mt:if name='__last__'> is-active</mt:if>">
        <mt:if name='href'>
          <a href="<mt:var name='href'>" class="breadcrumb__link"><mt:var name='label'></a>
        <mt:else>
          <p class="breadcrumb__link"><mt:var name='label'></p>
        </mt:if>
      </li>
      <mt:unless name='__last__'>
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.599609 0.600098L4.59961 4.6001L0.599609 8.6001" stroke="#808080" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </mt:unless>
    </mt:loop>
  </ul>
</nav>