<section class="relatedLinks">
  <div class="base-container">
    <h2 class="relatedLinks__title">関連リンク</h2>

    <div class="relatedLinks__grid">
      <a href="#" class="relatedLinkCard">
        <b class="relatedLinkCard__icon">icon</b>
        <span class="relatedLinkCard__label">地域貢献助成</span>
        <span class="relatedLinkCard__arrow">▶</span>
      </a>

      <a href="#" class="relatedLinkCard">
        <b class="relatedLinkCard__icon">icon</b>
        <span class="relatedLinkCard__label">社会活動レポート</span>
        <span class="relatedLinkCard__arrow">▶</span>
      </a>

      <a href="#" class="relatedLinkCard">
        <b class="relatedLinkCard__icon">icon</b>
        <span class="relatedLinkCard__label">社会活動実績を数字で見る</span>
        <span class="relatedLinkCard__arrow">▶</span>
      </a>

      <a href="#" class="relatedLinkCard">
        <b class="relatedLinkCard__icon">icon</b>
        <span class="relatedLinkCard__label">こくみん共済 coopについて</span>
        <span class="relatedLinkCard__arrow">▶</span>
      </a>

      <a href="#" class="relatedLinkCard">
        <b class="relatedLinkCard__icon">icon</b>
        <span class="relatedLinkCard__label">組織・グループ概要</span>
        <span class="relatedLinkCard__arrow">▶</span>
      </a>

      <a href="#" class="relatedLinkCard">
        <b class="relatedLinkCard__icon">icon</b>
        <span class="relatedLinkCard__label">お問い合わせ</span>
        <span class="relatedLinkCard__arrow">▶</span>
      </a>
    </div>
  </div>
</section>