<a href="<mt:var name='href' raw>" class="articleCard">
  <img class="articleCard__image" src="<mt:var name='thumbnailURL' raw>" alt="<mt:var name='title' raw>" />
  <div class="articleCard__content">
    <span class="articleCard__tag"><mt:var name='tag' raw></span>
    <h3 class="articleCard__title"><mt:var name='title' raw></h3>
    <p class="articleCard__description"><mt:var name='description' raw></p>
    <span class="articleCard__date"><mt:var name='date' raw></span>
  </div>
</a>