<section class="pageHeader">
  <div class="pageHeader__container">
    <h1 class="pageHeader__title"><mt:var name='title' raw></h1>
    <p class="pageHeader__description"><mt:var name='description' raw></p>
  </div>
</section>