<nav class="newSite sideMenu">
  <ul class="sideMenu__list">
    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">
        <img class="sideMenu__icon" src="/themes/v1/static/assets/ico_side_menu_car.svg" alt="自動車事故受付ロードサービス">
        <span class="sideMenu__text">自動車事故受付<br>ロードサービス</span>
      </a>
    </li>

    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">
        <img class="sideMenu__icon" src="/themes/v1/static/assets/ico_side_menu_support.svg" alt="共済金請求">
        <span class="sideMenu__text">共済金請求</span>
      </a>
    </li>

    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">
        <img class="sideMenu__icon" src="/themes/v1/static/assets/ico_side_menu_procedures.svg" alt="各種お手続き">
        <span class="sideMenu__text">各種お手続き</span>
      </a>
    </li>

    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">
        <img class="sideMenu__icon" src="/themes/v1/static/assets/ico_side_menu_contract.svg" alt="契約内容変更 契約更新の見直し">
        <span class="sideMenu__text">契約内容変更<br>契約更新の見直し</span>
      </a>
    </li>


    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">
        <img class="sideMenu__icon" src="/themes/v1/static/assets/ico_side_menu__member_services.svg" alt="組合員向けサービス">
        <span class="sideMenu__text">組合員向け<br>サービス</span>
      </a>
    </li>
  </ul>
</nav>